html {
	height: 100%;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	font-size: 30px;
	background: #DDC3B1;
	scroll-behavior: smooth;
}

@font-face {
	font-family: "Concorde", sans-serif;
	src: url("/fonts/ConcordeRegular.ttf") format('ttf');
}

@font-face {
  font-family: "Founders", serif;
  src: url("/fonts/FoundersGroteskLight.otf") format('otf');
}

* {
	font-family: 'Concorde', sans-serif;
}