html {
	height: 100%;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	font-size: 30px;
	background: #DDC3B1;
	scroll-snap-type: y mandatory;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	display: none;
}

/* phone screens */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 24pt;
  }
	p {
		font-size: 14pt;
	}
}