body {
    font-family: minion-pro-caption, serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 35px;
    text-align: left;
    background: #DDC3B1;
    margin: 30px;
}
